/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:wght@400;600&display=swap');

$black: #000000;
$white: #FFFFFF;
$accent: #68b6ff;
$accent-hover: #7ec1ff;

body {
  font-family: 'Roboto',
    sans-serif;
  position: relative;
  color: #2f3031;
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style-type: none;
}

#root {
  display: flex;
  justify-content: center;
  width: 100%;
}

button {
  cursor: pointer;
}

#main-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1.2px;
}

#title-bar {
  -webkit-app-region: drag;
  width: 100vw;
  height: 24px;
  background-color: #f1f1f1;
  margin: 0px;
  z-index: 1;
}

#frame-title {
  font-weight: 900;
  font-size: 14px;
  font-style: italic;
  height: 100%;
  text-align: center;
  padding: 5px 0;
}

#title-bar-btns {
  -webkit-app-region: no-drag;
  position: fixed;
  top: 0px;
  left: 4px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#close-btn {
  background-color: #FF5F58;
}

#min-btn {
  background-color: #FFBE2D;
}

#max-btn {
  background-color: #25C93F;
}

.frame-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12px;
  width: 12px;
  border: none;
  border-radius: 50%;
  margin-right: 4px;
}

svg {
  width: 10px;
  height: 10px;
  color: black;
}

button:focus {
  outline: 0;
}

#sidenav {
  position: absolute;
  top: 24px;
  left: 0;
  display: flex;
  flex-direction: column;
  height: calc(100% - 24px);
  background-color: #2b2525;
  width: 60px;

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    text-align: center;
    height: 35px;
    border-radius: 6px;
    margin: auto;

    svg {
      width: 25px;
      height: 25px;
      color: #d3d3d3;
    }

    &:hover {
      background-color: #3b3737;
    }
  }
}

.control-panel {
  padding-top: 20px;
  width: 60%;
  display: flex;
  margin: auto;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;

  .ctrl-btns {
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
    width: 100%;
    margin: 8px;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba($black, .1);
    background: $accent;
    color: $white;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
    border: 0;

    &:hover {
      background: $accent-hover;
    }

    svg {
      display: flex;
      margin-left: auto;
      width: 20px;
      height: 20px;
      color: $white;
      border-radius: 100%;
      animation: ripple 0.6s linear infinite;
      padding: 2px;
    }
  }
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba($white, 0.1),
      0 0 0 20px rgba($white, 0.1),
      0 0 0 40px rgba($white, 0.1),
      0 0 0 60px rgba($white, 0.1);
  }

  100% {
    box-shadow: 0 0 0 20px rgba($white, 0.1),
      0 0 0 40px rgba($white, 0.1),
      0 0 0 60px rgba($white, 0.1),
      0 0 0 80px rgba($white, 0);
  }
}
